# Broker example sdkconfig
CONFIG_ESPNOW_MQTT_ROLE_BROKER=y
CONFIG_ESPNOW_MQTT_MAX_TOPICS=32
CONFIG_ESPNOW_MQTT_MAX_PUBLISHER_TOPICS=2
CONFIG_ESPNOW_MQTT_MAX_SUBSCRIPTIONS=8
CONFIG_ESPNOW_MQTT_DISPATCH_QUEUE_SIZE=16
CONFIG_ESPNOW_MQTT_ANNOUNCE_INTERVAL_MS=10000
#CONFIG_LOG_DEFAULT_LEVEL_INFO=y
#CONFIG_LOG_DEFAULT_LEVEL=3
