# Publisher example sdkconfig
CONFIG_ESPNOW_MQTT_ROLE_PUBLISHER=y
CONFIG_ESPNOW_MQTT_PUBLISHER_MODE_CONTINUOUS=y
CONFIG_ESPNOW_MQTT_MAX_PUBLISHER_TOPICS=2
CONFIG_ESPNOW_MQTT_BOOT_JITTER_MS=500
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_DEFAULT_LEVEL=3
